body {
    background-color: rgb(0, 76, 255);
}

.container {
    min-height: 100vh;
    background-color: rgb(0, 76, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(0,0,0,0.4);
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}

